.product-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 50px;
}
.product-cart{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



@media only screen and (max-width: 1024px){
    .product-cart{
        grid-template-columns: repeat(2, 1fr);
    }
}